.homecover{
    background-image: url(images/dark.jpg);
}

#textbox {
    display: flex;
    justify-content: space-between;
}

.wrapper {
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.demo-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-container {
  padding: 20px;
  margin: auto;
}

.row-padding {
  padding-top: 20px;
}

.search-form {
  padding: 10px;
}

.search-header {
  background-color: black;
}

.search-element {
  padding: 10px;
}

.releases {
  padding: 10px;
}

.results {
  padding: 10px;
}

#generic-padding {
  padding: 10px;
}
