
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    <a class="navbar-brand" href="index.html">Relux</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="docs.html">Docs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="search.html">Packages</a>
        </li>
    </ul>
    <!-- <a class="btn btn-primary float-end" href="debian-11.1.0-amd64-netinst.iso" role="button">Download</a> -->
</div>
</nav>

